<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
    <form method="POST" action="/results">
      <p>Your name: <input type="text" name="sender_name"></p>
      <p>Receivers name: <input type="text" name="receiver_name"></p>
      <p>Message name: <input type="text" name="message"></p>
      <input type="submit">
    </form>




  </body>
</html>
