<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Wear the Weather Results!</title>
    <link rel="stylesheet" href="css/results.css">
  </head>
  
  <body>
    
    <h1>Here is your reccomended attire!</h1>
    
    <p>
      
      Based on your location: <%= @city %>, you should wear:
      
      <br>
      <p><%= @result %>
      </p>
      
    </p>
   
  </body>
</html>