<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Here is you card!</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <p>
      To: <%= @sender_name %>
      <br></br>
      From: <%= @receiver_name %>
      <br></br>
      <%= @message %>
      
    </p>
   
   
   
   
  </body>
</html>