body {
     background-color: black;
     text-align: center;
     font-family: helvetica;
     font-size: 14px;
}


p {
     margin: auto;
     padding:20px;
     background-color: white;
     letter-spacing: 1px;
     color: black;
     width:500px;
     border: 5px solid pink;
}

h1 {
      letter-spacing: 3px;
      color: pink;
}

img {
     text-align: center;
     margin-top: 30px;
     padding:0px;
     width:200px;
     border: 6px solid pink;
}

#gifs {
     display: inline;
     padding: 15px;
}