body, p, h1 {
     background-image:url(https://static.pexels.com/photos/244483/pexels-photo-244483.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     margin-top:0px;
}


p {
     font-family: 'Roboto Slab', serif;
     font-weight: lighter;
     text-align: center;
     font-size:20px;
     width:800px;
     letter-spacing: .5px;
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}

h1 {
     text-align:center;
     font-family: 'Roboto Slab', serif;
     letter-spacing: 1px;
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

form {
     text-align: center;
     font-weight: bold;
     
}

#main {
  background-color: white;
  height:300px;
  padding:30px;
  width:900px;
  margin:auto;
  margin-top:150px;
  display:inline-block;
  border:1px white solid;
  border-radius:10px;
     
}

#text {
     display: inline-block;
}

html {
  text-align: center;
}

#input {
     font-weight:bold;
      -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color:black;
     
}